<h1>Underwater research</h1>
<em>Fourteen-year-old Miguel Diaz talks about an exciting science project</em><br />
<br />
Last month I got the chance to take part in an underwater research project in an area of the Gulf of Mexico called the Flower Gardens. A team of professional researchers, led by the scientist Dr. Matt Phillips, was trying to learn more about the fish and various creatures that live in this part of the sea. The Flower Gardens are a long way from the shore and we spent three days on a boat.<br />
<br />
The team used a piece of underwater equipment called a Remotely Operated Vehicle (ROV) to collect information. The ROV could measure water depth and temperature and it also had a camera that sent live film back to the boat. The ROV was great fun. It was controlled by a computer on the boat, and I was allowed to operate it a few times.<br />
<br />
However, the thing I enjoyed most was diving into the water. At first, I was quite frightened &ndash; mainly because I couldn&rsquo;t see land in any direction. But as soon as I jumped into the water, I wasn&rsquo;t afraid anymore. It was amazing to see the colourful fish swimming around and I could see all the way to the Flower Gardens, which are almost 30 metres down.<br />
<br />
I will never forget the Flower Gardens. The trip was like a holiday but I also learnt new things about science and research projects. The team was very friendly and everyone was happy to explain what they knew about the sea. It was a great opportunity and it has made me think about my goals in life. The experience will definitely help me work harder to become a scientist