<h1 style="text-align: center;"><b>Wat</b>er-<b>ski</b>ing <b>bare</b>foot</h1>

<div>&nbsp;</div>

<h2 style="text-align: center;"><b>b</b>y <b>D</b>an <b>Tho</b>mas</h2>

<div>&nbsp;</div>
<b>Ha</b>ve <b>y</b>ou <b>ev</b>er <b>be</b>en <b>bare</b>foot <b>wat</b>er-<b>ski</b>ing? <b>I</b>t<b>&rsquo;</b>s <b>ju</b>st <b>li</b>ke <b>nor</b>mal <b>wat</b>er-<b>ski</b>ing, <b>bei</b>ng <b>pul</b>led <b>alo</b>ng <b>beh</b>ind <b>a</b> <b>bo</b>at <b>a</b>t 40 <b>m</b>ph &ndash; <b>b</b>ut <b>with</b>out <b>a</b>ny <b>sk</b>is! <b>I</b>t <b>sou</b>nds <b>sca</b>ry <b>b</b>ut <b>i</b>t<b>&rsquo;</b>s <b>amaz</b>ing! <b>M</b>y <b>cou</b>sin <b>us</b>ed <b>t</b>o <b>ta</b>ke <b>m</b>e <b>wat</b>er-<b>ski</b>ing, <b>a</b>nd <b>th</b>at<b>&rsquo;</b>s <b>whe</b>re <b>I</b> <b>fir</b>st <b>lea</b>rnt <b>t</b>o <b>sta</b>nd <b>u</b>p <b>a</b>nd <b>bala</b>nce. <b>B</b>ut <b>I</b> <b>mov</b>ed <b>o</b>n <b>t</b>o <b>barefo</b>oting <b>wh</b>en <b>I</b> <b>d</b>id <b>i</b>t <b>f</b>or <b>a</b> <b>lau</b>gh <b>wi</b>th <b>so</b>me <b>mat</b>es. <b>A</b>nd <b>I</b> <b>lov</b>ed <b>i</b>t!<br />
<br />
<b>Bare</b>foot <b>wat</b>er-<b>ski</b>ing <b>i</b>s one <b>o</b>f <b>t</b>he <b>mo</b>st <b>popu</b>lar <b>waters</b>ports <b>the</b>re <b>i</b>s &ndash; <b>t</b>o <b>wat</b>ch, <b>any</b>way! <b>Wh</b>en <b>some</b>one <b>jum</b>ps <b>rea</b>lly <b>hi</b>gh <b>a</b>nd <b>th</b>en <b>lan</b>ds, <b>i</b>t<b>&rsquo;</b>s <b>awes</b>ome. <b>A</b>nd <b>y</b>ou <b>d</b>o<b>n</b>&rsquo;t <b>ne</b>ed <b>expen</b>sive <b>stu</b>ff <b>li</b>ke <b>boa</b>rds, <b>alth</b>ough <b>a</b> <b>wets</b>uit<b>&rsquo;</b>s <b>a</b> <b>go</b>od <b>id</b>ea. <b>B</b>ut <b>catc</b>hing <b>yo</b>ur <b>to</b>es <b>o</b>n <b>thi</b>ngs <b>i</b>n <b>t</b>he <b>la</b>ke <b>c</b>an <b>hu</b>rt. <b>I</b> <b>gue</b>ss <b>y</b>ou <b>c</b>a<b>n</b>&rsquo;t <b>he</b>lp <b>gett</b>ing <b>wat</b>er <b>u</b>p <b>yo</b>ur <b>no</b>se <b>wh</b>en <b>y</b>ou <b>sta</b>rt <b>lear</b>ning, <b>t</b>oo, <b>a</b>s <b>y</b>ou <b>ha</b>ve <b>t</b>o <b>l</b>ie <b>alm</b>ost <b>fl</b>at <b>i</b>n <b>t</b>he <b>wat</b>er <b>bef</b>ore <b>y</b>ou <b>pu</b>ll <b>your</b>self <b>u</b>p &ndash; <b>b</b>ut <b>i</b>t<b>&rsquo;</b>s <b>O</b>K.<br />
<br />
<b>N</b>ow <b>I</b><b>&rsquo;</b>m <b>experi</b>enced, <b>I</b><b>&rsquo;</b>ve <b>lea</b>rnt <b>n</b>ot <b>t</b>o <b>atte</b>mpt <b>n</b>ew <b>mov</b>es <b>i</b>n <b>rou</b>gh <b>wat</b>er <b>a</b>s <b>i</b>t <b>nev</b>er <b>go</b>es <b>we</b>ll. <b>Inst</b>ead, <b>I</b> <b>ma</b>ke <b>su</b>re <b>I</b> <b>lim</b>it <b>mys</b>elf <b>t</b>o <b>ski</b>ing <b>dire</b>ctly <b>beh</b>ind <b>t</b>he <b>bo</b>at, <b>whe</b>re <b>t</b>he <b>wat</b>er<b>&rsquo;</b>s <b>cal</b>mer. <b>I</b> <b>a</b>sk <b>t</b>he <b>bo</b>at <b>driv</b>ers <b>t</b>o <b>wa</b>rn <b>m</b>e <b>abo</b>ut <b>b</b>ig <b>wav</b>es <b>com</b>ing, <b>alth</b>ough <b>th</b>ey <b>c</b>a<b>n</b>&rsquo;t <b>alw</b>ays <b>s</b>ee <b>th</b>em.<br />
<br />
<b>Find</b>ing <b>ti</b>me <b>t</b>o <b>prac</b>tise <b>regul</b>arly <b>i</b>s <b>ha</b>rd <b>a</b>s <b>I</b><b>&rsquo;</b>m <b>sti</b>ll <b>a</b>t <b>sch</b>ool &ndash; <b>b</b>ut <b>th</b>en <b>i</b>t<b>&rsquo;</b>s <b>n</b>ot <b>a</b>s <b>i</b>f <b>I</b><b>&rsquo;</b>m <b>in</b>to <b>winn</b>ing <b>pri</b>zes <b>a</b>nd <b>stu</b>ff. <b>B</b>ut <b>i</b>f <b>I</b> <b>wa</b>nt <b>t</b>o <b>lea</b>rn <b>a</b> <b>n</b>ew <b>mo</b>ve, <b>I</b> <b>ne</b>ed <b>t</b>o <b>rep</b>eat <b>i</b>t <b>ov</b>er <b>a</b>nd <b>ov</b>er, <b>a</b>nd <b>th</b>at<b>&rsquo;</b>s <b>n</b>ot <b>ea</b>sy <b>i</b>n <b>win</b>ter <b>wh</b>en <b>i</b>t<b>&rsquo;</b>s <b>co</b>ld. <b>Lo</b>ts <b>o</b>f <b>ski</b>ers <b>s</b>ay <b>th</b>ey<b>&rsquo;</b>ll <b>cont</b>inue <b>dur</b>ing <b>co</b>ld <b>weat</b>her, <b>b</b>ut <b>n</b>ot <b>ma</b>ny <b>d</b>o. <b>S</b>o <b>I</b><b>&rsquo;</b>m <b>oft</b>en <b>t</b>he <b>on</b>ly one <b>o</b>ut <b>o</b>n <b>t</b>he <b>la</b>ke!