<h1 style="text-align: center;"><strong>Water-skiing barefoot </strong></h1><div><strong><br></strong></div>

<h2 style="text-align: center;"><strong>by Dan Thomas</strong></h2><div><strong><br></strong></div>

<div style="text-align: left;">Have you ever been barefoot water-skiing? It’s just like normal water-skiing, being pulled along behind a boat at 40 mph – but without any skis! It sounds scary but it’s amazing! My cousin used to take me water-skiing, and that’s where I first learnt to stand up and balance. But I moved on to barefooting when I did it for a laugh with some mates. And I loved it!<br>
<br>
Barefoot water-skiing is one of the most popular watersports there is – to watch, anyway! When someone jumps really high and then lands, it’s awesome. And you don’t need expensive stuff like boards, although a wetsuit’s a good idea. But catching your toes on things in the lake can hurt. I guess you can’t help getting water up your nose when you start learning, too, as you have to lie almost flat in the water before you pull yourself up – but it’s OK.<br>
<br>
Now I’m experienced, I’ve learnt not to attempt new moves in rough water as it never goes well. Instead, I make sure I limit myself to skiing directly behind the boat, where the water’s calmer. I ask the boat drivers to warn me about big waves coming, although they can’t always see them.<br>
<br>
Finding time to practise regularly is hard as I’m still at school – but then it’s not as if I’m into winning prizes and stuff. But if I want to learn a new move, I need to repeat it over and over, and that’s not easy in winter when it’s cold. Lots of skiers say they’ll continue during cold weather, but not many do. So I’m often the only one out on the lake!</div>